<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitLike</title>
</head>
<body>

<h4>Git Like App: <span style="font-weight: normal; font-style: italic">brincando de Controle de Versão!</span></h4>


{% for categoria, msg in get_flashed_messages(with_categories=True) %}
    {% if categoria == 'erro' %}
        <p style="color: red;">{{ msg }}</p>
    {% else %}
         <p style="color: blue;">{{ msg }}</p>
    {% endif %}
{% endfor %}

{% block conteudo %}
{% endblock %}

</body>
</html>