{% extends 'base.html' %}

{% block conteudo %}

    <form action="/git-init" method="post">
        <input name="nome" placeholder="Nome do repositório" required/>
        <input type="submit" value="Git init"/>
    </form>

    <h4>Repositórios: {{ repositorios | length }}</h4>

    <ul>
        {% for repo in repositorios %}
            <li>
                {{ repo.nome }} #
                <a href="/apagar-repositorio/{{repo.nome}}">Apagar</a> |
                <a href="/repositorio/{{repo.nome}}">Entrar</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}