{% extends 'base.html' %}

{% block conteudo %}
    {{ session.repositorio }}
    <a href="/sair-repositorio">Sair Repo</a>


    <div>
        <h4>Arquivos</h4>
        <form action="/novo-arquivo" method="post">
            <input name="nome" placeholder="Novo arquivo" required/>
            <input type="submit" value="Criar Arquivo"/>
        </form>

        <p>Untracked Files</p>
        <table border="1">
        {% for arquivo in repositorio.untracked_files() %}
            <tr>
                <td>{{ arquivo.nome }}</td>
                <td><a href="/git-add/{{ arquivo.nome }}">Add</a></td>
            </tr>
        {% endfor %}
        </table>

        <p>Tracked Files</p>
        <table border="1">
        {% for arquivo in repositorio.tracked_files() %}
            <tr>
                <td>{{ arquivo.nome }}</td>
                <td><a href="/new-line/{{ arquivo.nome }}">Add linha</a></td>
            </tr>
        {% endfor %}
        </table>

    </div>

    <div>
        <h4>Unstaged Changes ({{ repositorio.unstaged_changes() | length}})</h4>
        <table>
            {% for mudanca in repositorio.unstaged_changes() %}
                <tr>
                    <td>{{ mudanca.tipo }}</td>
                    <td>{{ mudanca.arquivo.nome }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <h4>Staged Changes ({{ repositorio.staged_changes() | length}})</h4>
        <table>
            {% for mudanca in repositorio.staged_changes() %}
                <tr>
                    <td>{{ mudanca.tipo }}</td>
                    <td>{{ mudanca.arquivo.nome }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}