{% extends 'base.html' %}

{% block conteudo %}
    {{ session.repositorio }}
    <a href="/sair-repositorio">Sair Repo</a>


    <div>
        <h4>Arquivos</h4>
        <form action="/novo-arquivo" method="post">
            <input name="nome" placeholder="Novo arquivo" required/>
            <input type="submit" value="Criar Arquivo"/>
        </form>
        <p>Tracked Files</p>
        <ol>
        {% for arquivo in repositorio.tracked_files() %}
            <li>{{ arquivo.nome }}</li>
        {% endfor %}
        </ol>

        <p>Untracked Files</p>
        <table border="1">
        {% for arquivo in repositorio.untracked_files() %}
            <tr>
                <td>{{ arquivo.nome }}</td>
                <td><a href="add_arquivo/{{ arquivo.nome }}">Add</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}