{% extends 'base.html' %}

{% block conteudo %}
    <h4>Repositório atual: {{ session.repositorio }} <a href="/sair-repositorio">sair</a></h4>



    <form action="/novo-arquivo" method="post">
        <input name="nome" placeholder="Novo arquivo" required/>
        <input type="submit" value="Criar Arquivo"/>
    </form>

    <div>

        <h5>Untracked Files</h5>
        <table border="1">
        {% for arquivo in repositorio.untracked_files() %}
            <tr>
                <td>{{ arquivo.nome }}</td>
                <td><a href="/git-add/{{ arquivo.nome }}">git-add</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div>

        <h5>Tracked Files</h5>
        <table border="1">
        {% for arquivo in repositorio.tracked_files() %}
            <tr>
                <td>{{ arquivo.nome }}</td>
                <td><a href="/new-line/{{ arquivo.nome }}">add-linha</a></td>
                <td><a href="/git-add/{{ arquivo.nome }}">git-add</a></td>
            </tr>
        {% endfor %}
        </table>

    </div>

    <div>
        <h5>Unstaged Changes ({{ repositorio.unstaged_changes() | length}})</h5>
        <table border="1">
            {% for mudanca in repositorio.unstaged_changes() %}
                <tr>
                    <td>{{ mudanca.tipo }}</td>
                    <td>{{ mudanca.arquivo.nome }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <h5>Staged Changes ({{ repositorio.staged_changes() | length}})</h5>
        <table border="1">
            {% for mudanca in repositorio.staged_changes() %}
                <tr>
                    <td>{{ mudanca.tipo }}</td>
                    <td>{{ mudanca.arquivo.nome }}</td>
                </tr>
            {% endfor %}
        </table>
        <form action="#" method="post">
            <input name="msg" placeholder="commit message" required/>
            <input type="submit" value="git-commit">
        </form>
    </div>

{% endblock %}